<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>airbnb Home</title>
    <link rel="stylesheet" href="home.css">
    <!-- <link rel="stylesheet" href="output.css"> -->
    <!-- <link href="../public/output.css" rel="stylesheet"> -->
</head>

<body>
    <header> 
        <h1 class="text-red-700">Hello from the server!</h1>
    </header>
    <main>
        <a href="/host/add-home">Add a home</a>
    </main>
</body>

</html>